<div class='nested-fields box card p-3 mb-2' data-controller='dynamic-select'>
    <div class='form-group'>
      <%= form.select :question_type,
          options_for_select(Question.question_type_select, selected: form.object.question_type),
          {},
          'data-dynamic-select-target': 'select',
          'data-action': 'dynamic-select#selected' %>
    </div>
  
    <div class='form-group my-2'>
      <%= form.hidden_field :_destroy %>
      <%= form.text_field :name, placeholder: 'Question', class: 'form-control' %>
      <small class="badge bg-danger p-2">
        <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" }, class: 'text-white' %>
      </small>
    </div>
  
    <div data-controller="nested-form" data-dynamic-select-target='choice'>
      <template data-nested-form-target='template'>
        <%= form.fields_for :answers, Answer.new, child_index: 'TEMPLATE_RECORD' do |answer| %>
          <%= render 'answer_fields', form: answer %>
        <% end %>
      </template>
  
      <%= form.fields_for :answers do |answer| %>
        <%= render 'answer_fields', form: answer %>
      <% end %>
  
      <div data-nested-form-target="add_item">
        <%= link_to "Add Answer", "#", data: { action: "nested-form#add_association" } , class: 'btn btn-outline-primary' %>
      </div>
    </div>
  
    <div data-controller="nested-form" data-dynamic-select-target='long' >
    </div>
</div>